<div class="full-width">

  <div class="container animate__animated animate__fadeIn">
    <div class="bienvenido">
      <img src="assets/logo.svg">
      <h3>Bienvenido</h3>
      <h1>Inicie sesión</h1>
    </div>

    <div *ngIf="usuarioInvalido" class="error-validacion">Usuario y/o contraseña invalidos.</div>

    <form (ngSubmit)="login()" #form="ngForm">
      <div class="data">
        <label for="username">USUARIO</label>
        <input type="text" name="username" [(ngModel)]="usuario.username" autocomplete="off">
      </div>

      <div class="data">
        <label for="password">CONTRASEÑA</label>
        <input type="password" name="password" [(ngModel)]="usuario.password" >
      </div>

      <div class="btn">
        <button type="submit">INICIAR SESIÓN</button>
      </div>
    </form>

    <div [routerLink]="['/auth/registro']" class="registrar">
      <p>No tenes cuenta? Registrate.</p>
    </div>
  </div>
</div>