.contenedor-tabla{
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	width: 80vw;
	height: 85vh;
}

.titulo{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 3em;
}
.nombre-cliente{
	height: 1.5em;
}

table {
	width: 75vw;
	margin:2.5vh 2.5vw;
	height: fit-content;
}

table tr{
    text-align: center;
}

th, td {
	padding: 0.5em;
	background-color:rgb(37, 37, 37);
}

thead th{
	background-color: #0d00ff;
}

.total-eliminar{
	display: flex;
	width: 75vw;
	margin:0 2.5vw;
	height: 3em;
	align-items: center;
	justify-content: space-between;
}

.total-eliminar p{
	font-size: 1.5em;
}

.total{
	font-weight: bolder;
}

.eliminar{
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid red;
	border-radius: 1em;
	height: 1.5em;
	width: 6em;
	user-select: none;
	cursor: pointer;
}
.eliminar p{
	font-size: 1em;
	color: rgb(123, 0, 0);
}