<div *ngIf="pedido" class="contenedor-tabla animate__animated animate__fadeIn">
    <div class="titulo"><h1 class="nombre-cliente">Cliente: {{pedido.cliente.nombreCompleto}}</h1></div>
    <table [cellSpacing]="0">
        <thead>
            <tr>
                <th>ID</th>
                <th>Descripcion</th>
                <th>IVA</th>
                <th>IIBB</th>
                <th>Cantidad</th>
                <th>Adicional</th>
                <th>Garantia (años)</th>
                <th>Subtotal</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of pedido.items">

                <td *ngIf="item.producto; else tdIdServicio"> {{ item.producto.id}}</td>
                <ng-template #tdIdServicio>
                    <td> {{item.servicio?.id}}</td>
                </ng-template>

                <td *ngIf="item.producto; else tdDescServicio"> {{ item.producto.descripcion}} - {{
                    item.producto.marca}} {{ item.producto.modelo}}</td>
                <ng-template #tdDescServicio>
                    <td>{{item.servicio?.descripcion}} - {{item.servicio?.tipo}}</td>
                </ng-template>

                <td>${{item.iva }}</td>
                <td>${{item.iibb}}</td>
                <td>{{item.cantidad}}</td>


                <td *ngIf="item.adicional; else vacio">${{item.adicional}}</td>

                <ng-template #vacio>
                    <td>-</td>
                </ng-template>

                <ng-container *ngIf="item.aniosGarantia; else tdVacio">
                    <td>{{item.aniosGarantia}}</td>
                </ng-container>
                <ng-template #tdVacio>
                    <td>-</td>
                </ng-template>

                <td> ${{item.subtotal}}</td>
                <td> ${{item.total}}</td>
            </tr>
    </table>
    <div class="total-eliminar">
        <p class="total">Total: ${{pedido.total}}</p>
        <div (click)="eliminar()" class="eliminar"><p>Eliminar</p></div>
    </div>

</div>