<div class="card-servicio animate__animated animate__fadeIn">


    <h1 *ngIf="!servicio.id; else actualizar">Nuevo servicio</h1>

    <ng-template #actualizar><h1>Actualizar servicio</h1></ng-template>
    <form>
        <div class="data">
            <label>DESCRIPCION</label>
            <input [(ngModel)]="servicio.descripcion" name="descripcion" type="text">
        </div>

        <div class="data">
            <label>TIPO</label>
            <input [(ngModel)]="servicio.tipo" name="tipo" type="text">
        </div>

        <div class="data">
            <label>MONTO BASE</label>
            <input [(ngModel)]="servicio.montoBase" name="montoBase" type="number">
        </div>

        <div class="btn">
            <button (click)="guardar()" type="submit">Guardar</button>
        </div>
    </form>
</div>