<div class="sidenav">
    <div class="titulo">
        <img src="/assets/logo.svg">
        <h1>Gestión de pedidos</h1>
    </div>
    <div routerLink="/clientes/listado" routerLinkActive="activo" class="item">Clientes</div>
    <div routerLink="/empresas/listado" routerLinkActive="activo" class="item">Empresas</div>
    <div routerLink="/productos/listado" routerLinkActive="activo" class="item">Productos</div>
    <div routerLink="/servicios/listado" routerLinkActive="activo" class="item">Servicios</div>
    <div routerLink="/pedidos/listado" routerLinkActive="activo"class="item">Pedidos</div>
</div>